.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.bigboardStyle {
  display: flex;
  flex-wrap: wrap;
  width: 309px;
  height: 400px;
  background-color: silver;
  border: outset 5px;
}

.boardStyle {
  display: flex;
  flex-wrap: wrap;
  width: 279px;
  height: 80px;
  margin: 10px; /* 上・左右 */
  background-color: silver;
  border: inset 5px;
}

.gameboardStyle {
  display: flex;
  flex-wrap: wrap;
  width: 279px;
  height: 279px;
  margin: 0 10px 10px; /* 上・左右・下 */
  background-color: silver;
  border: inset 5px;
}

.cellStyle {
  display: flex;
  flex-wrap: wrap;
  width: 30px;
  height: 30px;
  border: solid #999;
}

.stoneStyle {
  flex-wrap: wrap;
  width: 30px;
  height: 30px;
  border: outset 3px;
}

/* .nicoStyle {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: outset 3px;
  border: solid #999;
} */

.sampleStyle {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
}
