.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.bigboardStyle {
  display: flex;
  flex-wrap: wrap;
  width: 309px;
  height: 400px;
  background-color: silver;
  border: outset 5px;
}

.pointBoardStyle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 279px;
  height: 80px;
  margin: 10px; /* 上・左右 */
  background-color: silver;
  border: inset 5px;
}

.bombCountStyle {
  display: flex;
  flex-wrap: wrap;
  width: 60px;
  height: 40px;
  margin-right: 45px;
  margin-left: 10px;
  background-color: black;
  border: inset 1px #fff;
}

.nicoStyle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: outset 3px;
}

.timeStyle {
  display: flex;
  flex-wrap: wrap;
  width: 60px;
  height: 40px;
  margin-right: 10px;
  margin-left: 45px;
  background-color: black;
  border: inset 1px #fff;
}

.gameboardStyle {
  display: flex;
  flex-wrap: wrap;
  width: 279px;
  height: 279px;
  margin: 0 10px 10px; /* 上・左右・下 */
  background-color: silver;
  border: inset 5px;
}

.cellStyle {
  display: flex;
  flex-wrap: wrap;
  width: 30px;
  height: 30px;
  border: solid #999;
}

.stoneStyle {
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: solid 1px;
  border-width: 3px;
}

.sampleStyle {
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: -3px;
  background: url('~/src/assets/images/icons.png') no-repeat;
}
